body {
   font-family: "PT Sans", sans-serif;
}
.link :hover {
   font-size: 16px;
   line-height: 1.5;
   font-weight: 400;
   text-decoration: none;
   color: #ff4081;
}
.selection-options .title-text {
   font-weight: bold;
   color: #212121;
}
.color-link {
   color: #1976d2;
}
.link :focus {
   color: #ff4081;
}
